.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/background_img.jpg'); /* Add your image path here */
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* Align text to the left */
    margin-right: 50px;  /* Create space between text and image */
    margin-top: -50px;
}
  
  h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
  
  .highlight {
    color: #e63946;
  }
  
  .animated-text {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1.5s steps(20, end), blink 0.7s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  
  .btn {
    padding: 0.75rem 1.5rem;
    background-color: #e63946;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #d62839;
  }
  